<section class="subscribe__container">
  <div class="subscribe__image">
    <img src="assets/subscribe.png" alt="subscribe" />
  </div>
  <div class="subscribe__content">
    <h2 class="section__header">
      Subscribe for the latest car rental updates
    </h2>
    <p class="section__description">
      Stay in the know! Subscribe to receive the latest car rental deals,
      exclusive offers, and updates right to your inbox. Don't miss out on
      special promotions and the newest additions to our fleet.
    </p>
    <form action="/">
      <input type="text" placeholder="Your Email" />
      <button class="btn">Subscribe</button>
    </form>
  </div>
</section>

<section class="section__container client__container" id="client">
  <h2 class="section__header">What people say about us?</h2>
  <p class="section__description">
    Discover why our customers love renting with us! Read real reviews and
    testimonials to see how we deliver exceptional service.
  </p>
  <!-- Slider main container -->
</section>